<p>Thanks! You have added the movie to our database.<br></br><br></br>
Please search for a movie</p>

<form method="get" action="/results">
			<input type="text" name="title" placeholder="Enter Movie Title...">
			<input value="Search Movie" type="submit">
</form><br></br>

<p>Or, or add a new movie to our Database:</p>

<form method="get" action="/movies/new">
			<input value="Add a New Movie" type="submit">
</form>