<% @results[0]['id'] %>
<p>
Movie Title: <%= @results[0]['title'] %><br></br>
Year: <%= @results[0]['year'] %><br></br>
Description: <%= @results[0]['description'] %><br></br>
Rating: <%= @results[0]['rating'] %><br></br>
</p>

<form method="link" action='/'>
<input type="submit" value="Back to Home">
</form>